[Unit]
Description=AIonPI
After=network.target

[Service]
User=pi5
WorkingDirectory=/home/pi5/llm/src
ExecStart=/home/pi5/llm/bin/streamlit run aionpi.py --server.port 5000 --server.address 0.0.0.0
Restart=always

[Install]
WantedBy=multi-user.target
